header {
  background: linear-gradient(90deg, #343333 38.05%, #484848 69.22%, #282828 98.98%);
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  .header__content {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 65%;
    .header__nav {
      color: white;
      display: flex;
      align-items: center;
      ul {
        display: flex;
        gap: 16px;
      }
    }
  }
}
