body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

a,
a:link,
a:visited,
a:hover {
  color: black;
  text-decoration: none;
}

input {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

ul,
ul li {
  padding: 0;
  list-style: none;
}
textarea {
  font-family: inherit;
  font-size: inherit;
}
button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
